<div class="container" ng-show="$ctrl.hasBet">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading tableheading">
          <h3 class="panel-title groupname">{{'BET' | translate}}</h3>
        </div>
        <div class="panel-body tablebody">
          <div class="row col-md-12 bet-table">
            <table class="table table-striped">
              <thead>
              <tr>
                <th class="col-md-3">{{'HOME_TEAM' | translate}}</th>
                <th class="col-md-1 poveda">{{'HOME_GOALS' | translate}}</th>
                <th class="col-md-1 poveda">{{'HOME_PENALTIES' | translate}}</th>
                <th class="col-md-1 poveda">{{'AWAY_PENALTIES' | translate}}</th>
                <th class="col-md-1 poveda">{{'AWAY_GOALS' | translate}}</th>
                <th class="col-md-3">{{'AWAY_TEAM' | translate}}</th>
              </tr>
              </thead>
              <tr class="table-row" ng-repeat="match in $ctrl.userBet.matches">
                <td class="col-md-1">
                  <img ng-src="assets/images/team_logos/{{match.home._team}}.png">
                </td>
                <td class="col-md-3">{{match.home.teamName}}</td>
                <td class="col-md-1 poveda">{{match.home.goals}}</td>
                <td class="col-md-1 poveda">{{match.home.penalties}}</td>
                <td class="col-md-1 poveda">{{match.away.penalties}}</td>
                <td class="col-md-1 poveda">{{match.away.goals}}</td>
                <td class="col-md-3">{{match.away.teamName}}</td>
                <td class="col-md-1">
                  <img ng-src="assets/images/team_logos/{{match.away._team}}.png">
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" ng-show="!$ctrl.hasBet">
  <div class="row">
    <div class="col-md-6" ng-repeat="group in $ctrl.groups">
      <div class="panel panel-primary">
        <div class="panel-heading tableheading">
          <h3 class="panel-title groupname">{{group.fullName | translate}}</h3>
          <div class="collapse-button pull-right clickable " ng-click="isCollapsed = !isCollapsed">
            <span ng-show="isCollapsed"><i class="glyphicon glyphicon-chevron-down"></i></span>
            <span ng-hide="isCollapsed"><i class="glyphicon glyphicon-chevron-up"></i></span>
          </div>
        </div>
        <div uib-collapse="isCollapsed" class="panel-body tablebody">
          <div class="row col-md-12 grouptable">
            <table class="table table-striped">
              <tr class="table-row" ng-repeat="match in group.matches">
                <td class="col-md-1">
                  <img ng-src="assets/images/team_logos/{{match.home._team}}.png">
                </td>
                <td class="col-md-3 coelho team-left">{{match.home.teamName}}</td>
                <td class="col-md-1 score">
                  <input ng-model="match.home.goals" ng-pattern="/^(0|[1-9][0-9]*)$/" type="text"
                         class="form-control scorearea" ng-disabled="$ctrl.quarterFinals"
                         ng-change="$ctrl.removeGroupInvalidCharacters($ctrl.groups)"
                         placeholder="0" onfocus="this.placeholder = ''" onblur="this.placeholder = '0'">
                </td>
                <td class="col-md-1 score">
                  <input ng-model="match.away.goals" ng-pattern="/^(0|[1-9][0-9]*)$/" type="text"
                         class="form-control scorearea" ng-disabled="$ctrl.quarterFinals"
                         ng-change="$ctrl.removeGroupInvalidCharacters($ctrl.groups)"
                         placeholder="0" onfocus="this.placeholder = ''" onblur="this.placeholder = '0'">
                </td>
                <td class="col-md-3 coelho team-right">{{match.away.teamName}}</td>
                <td class="col-md-1">
                  <img ng-src="assets/images/team_logos/{{match.away._team}}.png">
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <a href="#" class="button"
       ng-class="{'button-disabled': $ctrl.quarterFinals || $ctrl.disableButton}"
       ng-hide="$ctrl.quarterFinals"
       ng-click="($ctrl.quarterFinals || $ctrl.disableButton) || $ctrl.buildQuarterFinals()">{{'DONE_BUTTON' |
      translate}}</a>
  </div>

  <div class="row" ng-show="$ctrl.quarterFinals">
    <div class="col-md-push-3 col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading tableheading">
          <h3 class="panel-title groupname">{{$ctrl.quarterFinals.fullName | translate}}</h3>
          <div class="collapse-button pull-right clickable " ng-click="isCollapsed = !isCollapsed">
            <span ng-show="isCollapsed"><i class="glyphicon glyphicon-chevron-down"></i></span>
            <span ng-hide="isCollapsed"><i class="glyphicon glyphicon-chevron-up"></i></span>
          </div>
        </div>
        <div uib-collapse="isCollapsed" class="panel-body tablebody">
          <div class="row col-md-12 grouptable">
            <table class="table table-striped">
              <th class="text-center" colspan="8">{{'PENALTIES' | translate}}</th>
              <tr class="table-row" ng-repeat="match in $ctrl.quarterFinals.matches">
                <td class="col-md-1">
                  <img ng-src="assets/images/team_logos/{{match.home._team}}.png">
                </td>
                <td class="col-md-3 coelho team-left">{{match.home.teamName}}</td>
                <td class="col-md-1 score">
                  <input ng-model="match.home.goals" ng-pattern="/^(0|[1-9][0-9]*)$/" type="text"
                         class="form-control scorearea" ng-disabled="$ctrl.semiFinals"
                         placeholder="0" onfocus="this.placeholder = ''" onblur="this.placeholder = '0'"
                         ng-change="$ctrl.changePenalties(match.home, match.away); $ctrl.removeMatchesInvalidCharacters($ctrl.quarterFinals.matches)">
                </td>
                <td class="col-md-1 score">
                  <input ng-model="match.home.penalties" ng-pattern="/^(0|[1-9][0-9]*)$/" type="text"
                         class="form-control scorearea"
                         ng-change="$ctrl.removeMatchesInvalidCharacters($ctrl.quarterFinals.matches)"
                         ng-disabled="$ctrl.semiFinals || match.home.goals !== match.away.goals"
                         placeholder="p" onfocus="this.placeholder = ''" onblur="this.placeholder = 'p'">
                </td>
                <td class="col-md-1 score">
                  <input ng-model="match.away.penalties" ng-pattern="/^(0|[1-9][0-9]*)$/" type="text"
                         class="form-control scorearea"
                         ng-change="$ctrl.removeMatchesInvalidCharacters($ctrl.quarterFinals.matches)"
                         ng-disabled="$ctrl.semiFinals || match.home.goals !== match.away.goals"
                         placeholder="p" onfocus="this.placeholder = ''" onblur="this.placeholder = 'p'">
                </td>
                <td class="col-md-1 score">
                  <input ng-model="match.away.goals" ng-pattern="/^(0|[1-9][0-9]*)$/" type="text"
                         class="form-control scorearea" ng-disabled="$ctrl.semiFinals"
                         placeholder="0" onfocus="this.placeholder = ''" onblur="this.placeholder = '0'"
                         ng-change="$ctrl.changePenalties(match.home, match.away); $ctrl.removeMatchesInvalidCharacters($ctrl.quarterFinals.matches)">
                </td>
                <td class="col-md-3 coelho team-right">{{match.away.teamName}}</td>
                <td class="col-md-1">
                  <img ng-src="assets/images/team_logos/{{match.away._team}}.png">
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row alert alert-danger" ng-show="$ctrl.quarterFinalsError">
    <strong>{{$ctrl.quarterFinalsError | translate}}</strong>
  </div>

  <div class="row">
    <a href="#" class="button"
       ng-class="{'button-disabled': $ctrl.semiFinals || $ctrl.disableButton}"
       ng-show="$ctrl.quarterFinals && !$ctrl.semiFinals"
       ng-click="($ctrl.semiFinals || $ctrl.disableButton) || $ctrl.buildSemiFinals()">{{'DONE_BUTTON' |
      translate}}</a>
  </div>

  <div class="row" ng-show="$ctrl.semiFinals">
    <div class="col-md-push-3 col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading tableheading">
          <h3 class="panel-title groupname">{{$ctrl.semiFinals.fullName | translate}}</h3>
          <div class="collapse-button pull-right clickable " ng-click="isCollapsed = !isCollapsed">
            <span ng-show="isCollapsed"><i class="glyphicon glyphicon-chevron-down"></i></span>
            <span ng-hide="isCollapsed"><i class="glyphicon glyphicon-chevron-up"></i></span>
          </div>
        </div>
        <div uib-collapse="isCollapsed" class="panel-body tablebody">
          <div class="row col-md-12 grouptable">
            <table class="table table-striped">
              <th class="text-center" colspan="8">{{'PENALTIES' | translate}}</th>
              <tr class="table-row" ng-repeat="match in $ctrl.semiFinals.matches">
                <td class="col-md-1">
                  <img ng-src="assets/images/team_logos/{{match.home._team}}.png">
                </td>
                <td class="col-md-3 coelho team-left">{{match.home.teamName}}</td>
                <td class="col-md-1 score">
                  <input ng-model="match.home.goals" ng-pattern="/^(0|[1-9][0-9]*)$/" type="text"
                         class="form-control scorearea" ng-disabled="$ctrl.thirdPlace && $ctrl.finals"
                         placeholder="0" onfocus="this.placeholder = ''" onblur="this.placeholder = '0'"
                         ng-change="$ctrl.changePenalties(match.home, match.away); $ctrl.removeMatchesInvalidCharacters($ctrl.semiFinals.matches)">
                </td>
                <td class="col-md-1 score">
                  <input ng-model="match.home.penalties" ng-pattern="/^(0|[1-9][0-9]*)$/" type="text"
                         class="form-control scorearea"
                         ng-change="$ctrl.removeMatchesInvalidCharacters($ctrl.semiFinals.matches)"
                         placeholder="p" onfocus="this.placeholder = ''" onblur="this.placeholder = 'p'"
                         ng-disabled="$ctrl.thirdPlace && $ctrl.finals || match.home.goals !== match.away.goals">
                </td>
                <td class="col-md-1 score">
                  <input ng-model="match.away.penalties" ng-pattern="/^(0|[1-9][0-9]*)$/" type="text"
                         class="form-control scorearea"
                         ng-change="$ctrl.removeMatchesInvalidCharacters($ctrl.semiFinals.matches)"
                         placeholder="p" onfocus="this.placeholder = ''" onblur="this.placeholder = 'p'"
                         ng-disabled="$ctrl.thirdPlace && $ctrl.finals || match.home.goals !== match.away.goals">
                </td>
                <td class="col-md-1 score">
                  <input ng-model="match.away.goals" ng-pattern="/^(0|[1-9][0-9]*)$/" type="text"
                         class="form-control scorearea" ng-disabled="$ctrl.thirdPlace && $ctrl.finals"
                         placeholder="0" onfocus="this.placeholder = ''" onblur="this.placeholder = '0'"
                         ng-change="$ctrl.changePenalties(match.home, match.away); $ctrl.removeMatchesInvalidCharacters($ctrl.semiFinals.matches)">
                </td>
                <td class="col-md-3 coelho team-right">{{match.away.teamName}}</td>
                <td class="col-md-1">
                  <img ng-src="assets/images/team_logos/{{match.away._team}}.png">
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row alert alert-danger" ng-show="$ctrl.semiFinalsError">
    <strong>{{$ctrl.semiFinalsError | translate}}</strong>
  </div>

  <div class="row">
    <a href="#" class="button"
       ng-class="{'button-disabled': $ctrl.thirdPlace && $ctrl.finals || $ctrl.disableButton}"
       ng-show="$ctrl.semiFinals && !$ctrl.thirdPlace"
       ng-click="($ctrl.thirdPlace && $ctrl.finals || $ctrl.disableButton) || $ctrl.buildFinals()">{{'DONE_BUTTON' |
      translate}}</a>
  </div>

  <div class="row" ng-show="$ctrl.thirdPlace">
    <div class="col-md-push-3 col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading tableheading">
          <h3 class="panel-title groupname">{{$ctrl.thirdPlace.fullName | translate}}</h3>
          <div class="collapse-button pull-right clickable " ng-click="isCollapsed = !isCollapsed">
            <span ng-show="isCollapsed"><i class="glyphicon glyphicon-chevron-down"></i></span>
            <span ng-hide="isCollapsed"><i class="glyphicon glyphicon-chevron-up"></i></span>
          </div>
        </div>
        <div uib-collapse="isCollapsed" class="panel-body tablebody">
          <div class="row col-md-12 grouptable">
            <table class="table table-striped">
              <th class="text-center" colspan="8">{{'PENALTIES' | translate}}</th>
              <tr class="table-row">
                <td class="col-md-1">
                  <img height="40" width="40"
                       ng-src="assets/images/team_logos/{{$ctrl.thirdPlace.match.home._team}}.png"
                       alt="{{$ctrl.thirdPlace.match.home._team}}.png">
                </td>
                <td class="col-md-3 coelho team-left">{{$ctrl.thirdPlace.match.home.teamName}}</td>
                <td class="col-md-1 score">
                  <input ng-model="$ctrl.thirdPlace.match.home.goals" ng-pattern="/^(0|[1-9][0-9]*)$/" type="text"
                         class="form-control scorearea" ng-disabled="$ctrl.podium"
                         placeholder="0" onfocus="this.placeholder = ''" onblur="this.placeholder = '0'"
                         ng-change="$ctrl.changePenalties($ctrl.thirdPlace.match.home, $ctrl.thirdPlace.match.away); $ctrl.removeFinalsInvalidCharacters($ctrl.thirdPlace.match, $ctrl.finals.match)">
                </td>
                <td class="col-md-1 score">
                  <input ng-model="$ctrl.thirdPlace.match.home.penalties" ng-pattern="/^(0|[1-9][0-9]*)$/" type="text"
                         class="form-control scorearea"
                         ng-change="$ctrl.removeFinalsInvalidCharacters($ctrl.thirdPlace.match, $ctrl.finals.match)"
                         placeholder="p" onfocus="this.placeholder = ''" onblur="this.placeholder = 'p'"
                         ng-disabled="$ctrl.podium || $ctrl.thirdPlace.match.home.goals !== $ctrl.thirdPlace.match.away.goals">
                </td>
                <td class="col-md-1 score">
                  <input ng-model="$ctrl.thirdPlace.match.away.penalties" ng-pattern="/^(0|[1-9][0-9]*)$/" type="text"
                         class="form-control scorearea"
                         ng-change="$ctrl.removeFinalsInvalidCharacters($ctrl.thirdPlace.match, $ctrl.finals.match)"
                         placeholder="p" onfocus="this.placeholder = ''" onblur="this.placeholder = 'p'"
                         ng-disabled="$ctrl.podium || $ctrl.thirdPlace.match.home.goals !== $ctrl.thirdPlace.match.away.goals">
                </td>
                <td class="col-md-1 score">
                  <input ng-model="$ctrl.thirdPlace.match.away.goals" ng-pattern="/^(0|[1-9][0-9]*)$/" type="text"
                         class="form-control scorearea" ng-disabled="$ctrl.podium"
                         placeholder="0" onfocus="this.placeholder = ''" onblur="this.placeholder = '0'"
                         ng-change="$ctrl.changePenalties($ctrl.thirdPlace.match.home, $ctrl.thirdPlace.match.away); $ctrl.removeFinalsInvalidCharacters($ctrl.thirdPlace.match, $ctrl.finals.match)">
                </td>
                <td class="col-md-3 coelho team-right">{{$ctrl.thirdPlace.match.away.teamName}}</td>
                <td class="col-md-1">
                  <img height="40" width="40"
                       ng-src="assets/images/team_logos/{{$ctrl.thirdPlace.match.away._team}}.png"
                       alt="{{$ctrl.thirdPlace.match.away._team}}.png">
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row alert alert-danger" ng-show="$ctrl.thirdPlaceError">
    <strong>{{$ctrl.thirdPlaceError | translate}}</strong>
  </div>

  <div class="row" ng-show="$ctrl.finals">
    <div class="col-md-push-3 col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading tableheading">
          <h3 class="panel-title groupname">{{$ctrl.finals.fullName | translate}}</h3>
          <div class="collapse-button pull-right clickable " ng-click="isCollapsed = !isCollapsed">
            <span ng-show="isCollapsed"><i class="glyphicon glyphicon-chevron-down"></i></span>
            <span ng-hide="isCollapsed"><i class="glyphicon glyphicon-chevron-up"></i></span>
          </div>
        </div>
        <div uib-collapse="isCollapsed" class="panel-body tablebody">
          <div class="row col-md-12 grouptable">
            <table class="table table-striped">
              <th class="text-center" colspan="8">{{'PENALTIES' | translate}}</th>
              <tr class="table-row">
                <td class="col-md-1">
                  <img ng-src="assets/images/team_logos/{{$ctrl.finals.match.home._team}}.png"
                       alt="{{$ctrl.finals.match.home._team}}.png">
                </td>
                <td class="col-md-3 coelho team-left">{{$ctrl.finals.match.home.teamName}}</td>
                <td class="col-md-1 score">
                  <input ng-model="$ctrl.finals.match.home.goals" ng-pattern="/^(0|[1-9][0-9]*)$/" type="text"
                         class="form-control scorearea" ng-disabled="$ctrl.podium"
                         placeholder="0" onfocus="this.placeholder = ''" onblur="this.placeholder = '0'"
                         ng-change="$ctrl.changePenalties($ctrl.finals.match.home, $ctrl.finals.match.away); $ctrl.removeFinalsInvalidCharacters($ctrl.thirdPlace.match, $ctrl.finals.match)">
                </td>
                <td class="col-md-1 score">
                  <input ng-model="$ctrl.finals.match.home.penalties" ng-pattern="/^(0|[1-9][0-9]*)$/" type="text"
                         class="form-control scorearea"
                         ng-change="$ctrl.removeFinalsInvalidCharacters($ctrl.thirdPlace.match, $ctrl.finals.match)"
                         placeholder="p" onfocus="this.placeholder = ''" onblur="this.placeholder = 'p'"
                         ng-disabled="$ctrl.podium || $ctrl.finals.match.home.goals !== $ctrl.finals.match.away.goals">
                </td>
                <td class="col-md-1 score">
                  <input ng-model="$ctrl.finals.match.away.penalties" ng-pattern="/^(0|[1-9][0-9]*)$/" type="text"
                         class="form-control scorearea"
                         ng-change="$ctrl.removeFinalsInvalidCharacters($ctrl.thirdPlace.match, $ctrl.finals.match)"
                         placeholder="p" onfocus="this.placeholder = ''" onblur="this.placeholder = 'p'"
                         ng-disabled="$ctrl.podium || $ctrl.finals.match.home.goals !== $ctrl.finals.match.away.goals">
                </td>
                <td class="col-md-1 score">
                  <input ng-model="$ctrl.finals.match.away.goals" ng-pattern="/^(0|[1-9][0-9]*)$/" type="text"
                         class="form-control scorearea" ng-disabled="$ctrl.podium"
                         placeholder="0" onfocus="this.placeholder = ''" onblur="this.placeholder = '0'"
                         ng-change="$ctrl.changePenalties($ctrl.finals.match.home, $ctrl.finals.match.away); $ctrl.removeFinalsInvalidCharacters($ctrl.thirdPlace.match, $ctrl.finals.match)">
                </td>
                <td class="col-md-3 coelho team-right">{{$ctrl.finals.match.away.teamName}}</td>
                <td class="col-md-1">
                  <img ng-src="assets/images/team_logos/{{$ctrl.finals.match.away._team}}.png"
                       alt="{{$ctrl.finals.match.away._team}}.png">
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row alert alert-danger" ng-show="$ctrl.finalsError">
    <strong>{{$ctrl.finalsError | translate}}</strong>
  </div>

  <div class="row">
    <a href="#" class="button" ng-class="{'button-disabled': $ctrl.podium || $ctrl.disableButton}"
       ng-show="$ctrl.thirdPlace && $ctrl.finals && !$ctrl.podium"
       ng-click="($ctrl.goldenBootTeam || $ctrl.disableButton) || $ctrl.buildPodium()">{{'DONE_BUTTON' |
      translate}}</a>
  </div>

  <div class="row podium" ng-show="$ctrl.podium">
    <div class="col-md-push-3 col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading tableheading">
          <h3 class="panel-title groupname">{{'PODIUM' | translate}}</h3>
          <div class="collapse-button pull-right clickable " ng-click="isCollapsed = !isCollapsed">
            <span ng-show="isCollapsed"><i class="glyphicon glyphicon-chevron-down"></i></span>
            <span ng-hide="isCollapsed"><i class="glyphicon glyphicon-chevron-up"></i></span>
          </div>
        </div>
        <div uib-collapse="isCollapsed" class="panel-body tablebody">
          <div class="row col-md-12 grouptable">
            <table class="table">
              <tr class="table-row gold">
                <td class="col-md-1 coelho">{{'SECOND_PLACE_PODIUM' | translate}}</td>
                <td class="col-md-1">
                  <img ng-src="assets/images/team_logos/{{$ctrl.podium.firstPlace._id}}.png"
                       alt="{{$ctrl.podium.firstPlace._id}}.png">
                </td>
                <td class="col-md-3 coelho team-left">{{$ctrl.podium.firstPlace.name}}</td>
              </tr>
              <tr class="table-row silver">
                <td class="col-md-1 coelho">{{'THRID_PLACE_PODIUM' | translate}}</td>
                <td class="col-md-1">
                  <img ng-src="assets/images/team_logos/{{$ctrl.podium.secondPlace._id}}.png"
                       alt="{{$ctrl.podium.secondPlace._id}}.png">
                </td>
                <td class="col-md-3 coelho team-left">{{$ctrl.podium.secondPlace.name}}</td>
              </tr>
              <tr class="table-row bronzodia">
                <td class="col-md-1 coelho">{{'FIRST_PLACE_PODIUM' | translate}}</td>
                <td class="col-md-1">
                  <img ng-src="assets/images/team_logos/{{$ctrl.podium.thirdPlace._id}}.png"
                       alt="{{$ctrl.podium.thirdPlace._id}}.png">
                </td>
                <td class="col-md-3 coelho team-left">{{$ctrl.podium.thirdPlace.name}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" ng-show="$ctrl.podium">
    <h4>{{'GOLDEN_BOOT_HEADER' | translate}}</h4>
    <div class="row">
      <div class="col-md-3">
        <p>{{'TEAM' | translate}}</p>
        <input type="text" ng-model="$ctrl.goldenBootTeam"
               uib-typeahead="team as team.name for team in $ctrl.querySvc.getTeams() | filter:$viewValue | limitTo:8"
               class="form-control" placeholder="{{$ctrl.querySvc.getTeams()[0].name}}">
      </div>
      <div class="col-md-3" ng-show="$ctrl.goldenBootTeam.players">
        <p>{{'PLAYER' | translate}}</p>
        <input type="text" ng-model="$ctrl.goldenBootPlayer"
               uib-typeahead="player as player.name for player in $ctrl.goldenBootTeam.players | filter:$viewValue | limitTo:8"
               class="form-control" placeholder="{{$ctrl.goldenBootTeam.players[0].name}}">
      </div>
    </div>
  </div>

  <div class="row">
    <a href="#" class="button" ng-class="{'button-disabled': $ctrl.disableButton}"
       ng-show="$ctrl.goldenBootPlayer.name" ng-click="$ctrl.disableButton || $ctrl.save()">{{'SAVE_BET_BUTTON' |
      translate}}</a>
  </div>

  <!-- TODO Fix the fold button from quarter finals onwards -->
  <!-- TODO Add start again button to restart the betting form -->
  <!-- TODO Add edit button for finished bets -->

</div>
