.row.grouptablerow {
  margin-top: 40px;
  padding: 0 10px;
}

.clickable {
  cursor: pointer;
}

.collapse-button {
  position: relative;
  top: -16px;
}

.panel-heading.tableheading span {
  margin-top: -20px;
  font-size: 15px;
}

div.panel-body.tablebody {
  padding: 0
}

div.row.col-md-12.grouptable {
  padding: 0;
  margin: 0 0 0 0;
  text-align: left;
}

.team-left {
  text-align: right;
}

.team-right {
  text-align: left;
}

.table > tbody > tr > td.coelho {
  vertical-align: middle;
}

input.form-control.scorearea {
  padding: 2px;
  height: 30px;
  text-align: center;
  transition: all linear 0.5s;
  background: transparent;
}

input.form-control.scorearea.ng-invalid {
  color: white;
  background: red;
}

td.col-md-1.score {
  vertical-align: middle;
}

.table.table-striped {
  margin: 0;
}

.panel-title.groupname.ng-binding {
  text-align: center;
  font-weight: bold;
}
