.row.grouptablerow {
  margin-top: 40px;
  padding: 0 10px;
}

.grouptable .gold {
  background-color: #FFCF40;
}

.grouptable .silver {
  background-color: #C0C0C0;
}

.grouptable .bronzodia {
  background-color: #CD7F32;
}

.podium table {
  margin-bottom: 0;
}

.podium tr {
  border-top: white 4px solid;
}

.clickable {
  cursor: pointer;
}

.collapse-button {
  position: relative;
  top: -16px;
}

.panel-heading.tableheading span {
  margin-top: -20px;
  font-size: 15px;
}

div.panel-body.tablebody {
  padding: 0
}

div.row.col-md-12.grouptable {
  padding: 0;
  margin: 0 0 0 0;
  text-align: left;
}

.team-left {
  text-align: right;
}

.team-right {
  text-align: left;
}

.table > tbody > tr > td.coelho {
  vertical-align: middle;
}

input.form-control.scorearea {
  padding: 2px;
  height: 30px;
  text-align: center;
  transition: all linear 0.5s;
  background: transparent;
}

input.form-control.scorearea.ng-invalid {
  color: white;
  background: red;
}

td.col-md-1.score {
  vertical-align: middle;
}

td.col-md-1.poveda {
  vertical-align: middle;
  text-align: center;
}

.table.table-striped {
  margin: 0;
}

.panel-title.groupname.ng-binding {
  text-align: center;
  font-weight: bold;
}

.row.alert-danger {
  text-align: center;
}

a.button-disabled {
  cursor: default;
  color: rgba(30, 22, 54, 0.25);
  box-shadow: rgba(30, 22, 54, 0.25) 0 0 0 2px inset;
}

a.button-disabled:hover {
  color: rgba(30, 22, 54, 0.25);
  box-shadow: rgba(30, 22, 54, 0.25) 0 0 0 2px inset;
}

.col-md-1 img {
  height: 40px;
  width: 40px;
}
