.row.grouptablerow {
  margin-top: 40px;
  padding: 0 10px;
}

.grouptable .gold {
  background-color: #FFCF40;
}

.grouptable .silver {
  background-color: #C0C0C0;
}

.grouptable .bronzodia {
  background-color: #CD7F32;
}

.clickable {
  cursor: pointer;
}

.collapse-button {
  position: relative;
  top: -16px;
}

.panel-heading.tableheading span {
  margin-top: -20px;
  font-size: 15px;
}

div.panel-body.tablebody {
  padding: 0
}

div.row.col-md-12.grouptable {
  padding: 0;
  margin: 0 0 0 0;
  text-align: left;
}

.team-left {
  text-align: right;
}

.team-right {
  text-align: left;
}

.table > tbody > tr > td.coelho {
  vertical-align: middle;
}

input.form-control.scorearea {
  padding: 2px;
  height: 30px;
  text-align: center;
  transition: all linear 0.5s;
  background: transparent;
}

input.form-control.scorearea.ng-invalid {
  color: white;
  background: red;
}

td.col-md-1.score {
  vertical-align: middle;
}

td.col-md-1.poveda {
  vertical-align: middle;
  text-align: center;
}

.table.table-striped {
  margin: 0;
}

.panel-title.groupname.ng-binding {
  text-align: center;
  font-weight: bold;
}

.row.alert-danger {
  text-align: center;
}

a.button-disabled {
  cursor: default;
  color: rgba(30, 22, 54, 0.25);
  box-shadow: rgba(30, 22, 54, 0.25) 0 0 0 2px inset;
}

a.button-disabled:hover {
  color: rgba(30, 22, 54, 0.25);
  box-shadow: rgba(30, 22, 54, 0.25) 0 0 0 2px inset;
}

.col-md-1 img {
  display: block;
  margin: auto;
  height: 40px;
  width: 40px;
}

/* PODIUM STYLES */
.podium {
  background-color: #2c3e50;
  color: #ffffff;
  padding-bottom: 30px;
}

.podium .flex-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.podium table {
  margin-bottom: 0;
}

.podium tr {
  border-top: white 4px solid;
}

.podium .golden-boot-input {
  max-width: 315px;
  margin-bottom: 20px;
}

.podium .team-holder {
  display: flex;
  background-color: #EFEFEF;
  border: 5px solid #DEDEDE;
  border-radius: 50%;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}

.podium .first {
  order: 2;
}

.podium .second {
  order: 1;
}

.podium .third {
  order: 3;
}

.podium .team-holder.gold {
  background: linear-gradient(90deg, #FBFF00 10%, #FDB446 90%);
}

.podium .team-holder.silver {
  background: linear-gradient(90deg, #E6E7E8 10%, #A3A5A8 90%);
}

.podium .team-holder.bronze {
  background: linear-gradient(90deg, #E6924A 10%, #cd6532 90%);
}

.podium .first .team-holder {
  width: 90px;
  height: 90px;
}

.podium .second .team-holder {
  width: 80px;
  height: 80px;
}

.podium .third .team-holder {
  width: 60px;
  height: 60px;
}

.podium .team-holder img {
  margin: auto;
  width: 75%;
  height: auto;
}

/* PODIUM STYLES FOR MEDIUM-UP DEVICES*/

@media (min-width: 768px) {
  .podium .flex-box {
    justify-content: space-between;
  }

  .podium .first .team-holder {
    width: 180px;
    height: 180px;
  }

  .podium .second .team-holder {
    width: 150px;
    height: 150px;
  }

  .podium .third .team-holder {
    width: 140px;
    height: 140px;
  }
}

.team-right {
  text-align: right;
}

.head-center,
.score-bet {
  text-align: center;
}
