<div class="container">
  <span>Francisco Farías |
    <i class="fa fa-linkedin" aria-hidden="true"></i>
    <a href="https://www.linkedin.com/in/francisco-farías-49883069">LinkedIn</a> |
    <i class="fa fa-github" aria-hidden="true"></i>
    <a href="https://github.com/fariasfrancisco">GitHub</a>
  </span>
  <span style="margin-left: 10px">Lucio Poveda |
    <i class="fa fa-linkedin" aria-hidden="true"></i>
    <a href="https://ar.linkedin.com/in/luciopoveda">LinkedIn</a> |
    <i class="fa fa-github" aria-hidden="true"></i>
    <a href="https://github.com/kohm">GitHub</a>
  </span>
</div>

<!-- TODO Footer Style -->
