<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-login">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-6">
              <a href="#" id="login-form-link" ng-click="signupCtrl.toggleLoginForm()">{{'LOGIN' | translate}}</a>
            </div>
            <div class="col-xs-6">
              <a href="#" class="active" id="register-form-link">{{'REGISTER' | translate}}</a>
            </div>
          </div>
          <hr>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-6">
              <form class="form" name="signupForm" ng-submit="signupCtrl.register(signupForm)" novalidate>

                <div class="form-group" ng-class="{ 'has-success': signupForm.name.$valid && signupCtrl.submitted,
                                            'has-error': signupForm.name.$invalid && signupCtrl.submitted }">
                  <label>{{'NAME' | translate}}</label>

                  <input type="text" name="name" class="form-control" ng-model="signupCtrl.user.name"
                         required/>
                  <p class="help-block" ng-show="signupForm.name.$error.required && signupCtrl.submitted">
                    {{'NAME_REQUIRED' | translate}}
                  </p>
                </div>

                <div class="form-group" ng-class="{ 'has-success': signupForm.email.$valid && signupCtrl.submitted,
                                            'has-error': signupForm.email.$invalid && signupCtrl.submitted }">
                  <label>{{'EMAIL' | translate}}</label>

                  <input type="email" name="email" class="form-control" ng-model="signupCtrl.user.email"
                         required
                         mongoose-error/>
                  <p class="help-block" ng-show="signupForm.email.$error.email && signupCtrl.submitted">
                    {{'EMAIL_INVALID' | translate}}
                  </p>
                  <p class="help-block" ng-show="signupForm.email.$error.required && signupCtrl.submitted">
                    {{'EMAIL_REQUIRED' | translate}}
                  </p>
                  <p class="help-block" ng-show="signupForm.email.$error.mongoose">
                    {{ signupCtrl.errors.email }}
                  </p>
                </div>

                <div class="form-group" ng-class="{ 'has-success': signupForm.password.$valid && signupCtrl.submitted,
                                            'has-error': signupForm.password.$invalid && signupCtrl.submitted }">
                  <label>{{'PASSWORD' | translate}}</label>

                  <input type="password" name="password" class="form-control" ng-model="signupCtrl.user.password"
                         ng-minlength="3"
                         required
                         mongoose-error/>
                  <p class="help-block"
                     ng-show="(signupForm.password.$error.minlength || signupForm.password.$error.required) && signupCtrl.submitted">
                    {{'NEW_PASSWORD_LENGTH' | translate}}
                  </p>
                  <p class="help-block" ng-show="signupForm.password.$error.mongoose">
                    {{ signupCtrl.errors.password }}
                  </p>
                </div>

                <div class="form-group" ng-class="{ 'has-success': signupForm.confirmPassword.$valid && signupCtrl.submitted,
                                            'has-error': signupForm.confirmPassword.$invalid && signupCtrl.submitted }">
                  <label>{{'PASSWORD_CONFIRM' | translate}}</label>
                  <input type="password" name="confirmPassword" class="form-control"
                         ng-model="signupCtrl.user.confirmPassword"
                         match="signupCtrl.user.password"
                         ng-minlength="3" required/>
                  <p class="help-block"
                     ng-show="signupForm.confirmPassword.$error.match && signupCtrl.submitted">
                    {{'NEW_PASSWORD_MATCH' | translate}}
                  </p>
                </div>
                <hr/>
                <div>
                  <div class="col-sm-6 col-sm-offset-3" ng-click="signupCtrl.register(signupForm)" style="cursor: pointer">
                    <a class="button" type="submit">
                      {{'REGISTER' | translate}}
                    </a>
                  </div>
                  <!-- TODO fix this button's style! -->
                </div>
              </form>
            </div>
            <div class="col-lg-6">
              <div class="oauth-buttons-container">
                <oauth-buttons classes="btn-block"></oauth-buttons>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
