<section class="hero">
  <div class="intro">
    <div class="small-centered medium-uncentered medium-6 large-7 columns">
      <h1> {{'WELCOME' | translate}} </h1>
    </div>
    <div class="small-centered medium-uncentered medium-6 large-5 columns">
      <div class="tech-img"></div>
      <a href="#loginregister" class="button" ng-show="!$ctrl.isLoggedIn()">
        {{'MAKE_A_BET' | translate}}
      </a>
    </div>
  </div>
</section>

<div class="container columns">
  <div class="row grid-divider">
    <div class="col-sm-4">
      <div class="col-padding">
        <h3>{{'REGISTER_COLUMN' | translate}}</h3>
        <p>{{'REGISTER_COLUMN_P1' | translate}} facebook <i class="fa fa-facebook" aria-hidden="true"></i>.</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="col-padding">
        <h3>{{'MAKE_A_BET' | translate}}</h3>
        <p> {{'MAKE_A_BET_P1' | translate}} </p>
        <p> {{'MAKE_A_BET_P2' | translate}} </p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="col-padding">
        <h3>{{'HOW_YOU_FARE' | translate}}</h3>
        <p> {{'HOW_YOU_FARE_P1' | translate}} </p>
        <p> {{'HOW_YOU_FARE_P2' | translate}} </p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="page-header">
    <h1 id="timeline">{{'POINT_BREAKDOWN' | translate}}</h1>
  </div>
  <ul class="timeline">
    <li>
      <div class="timeline-badge">
        <img class="img-circle img-responsive" ng-src="assets/images/points/2-3.png" alt="">
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">{{'MATCHES' | translate}}</h4>
        </div>
        <div class="timeline-body">
          <p>{{'MATCHES_P1' | translate}}</p>
          <p>{{'MATCHES_P2' | translate}}</p>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge">
        <img class="img-circle img-responsive" ng-src="assets/images/points/5.png" alt="">
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">{{'GROUPS' | translate}}</h4>
        </div>
        <div class="timeline-body">
          <p>{{'GROUPS_P1' | translate}}</p>
          <p>{{'GROUPS_P2' | translate}}</p>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge">
        <img class="img-circle img-responsive" ng-src="assets/images/points/25-35.png" alt="">
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">{{'PODIUM' | translate}}</h4>
        </div>
        <div class="timeline-body">
          <p>{{'PODIUM_P1' | translate}}</p>
          <p>{{'PODIUM_P2' | translate}}</p>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge">
        <img class="img-circle img-responsive" ng-src="assets/images/points/50.png" alt=""></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">{{'GOLDEN_BOOT' | translate}}</h4>
        </div>
        <div class="timeline-body">
          <p>{{'GOLDEN_BOOT_P1' | translate}}</p>
          <p>{{'GOLDEN_BOOT_P2' | translate}}</p>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge">
        <img class="img-circle img-responsive" ng-src="assets/images/points/300.png" alt=""></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">{{'TOTAL' | translate}}</h4>
        </div>
        <div class="timeline-body">
          <p>{{'TOTAL_P1' | translate}}</p>
        </div>
      </div>
    </li>
  </ul>
</div>

<div class="jumbotron">
  <div class="container">
    <div class="page-header ">
      <h1 class="text-center">{{"FAQ" | translate}} <br>
      </h1>
      <div class="well well-sm entete"></div>
    </div>


    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title"> {{"QUESTION1" | translate}} </h4>
        </div>
        <div>
          <div class="panel-body"> {{"ANSWER1" | translate}}</div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title"> {{"QUESTION2" | translate}} </h4>
          </div>
          <div>
            <div class="panel-body"> {{"ANSWER2" | translate}}</div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title"> {{"QUESTION3" | translate}} </h4>
          </div>
          <div>
            <div class="panel-body"> {{"ANSWER3" | translate}}</div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title"> {{"QUESTION4" | translate}} </h4>
          </div>
          <div>
            <div class="panel-body"> {{"ANSWER4" | translate}}</div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title"> {{"QUESTION5" | translate}} </h4>
          </div>
          <div>
            <div class="panel-body"> {{"ANSWER5" | translate}}</div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title"> {{"QUESTION6" | translate}} </h4>
          </div>
          <div>
            <div class="panel-body">
              {{"ANSWER6_PART1" | translate}} <br>
              <h4>{{"ANSWER6_EXAMPLE" | translate}}1:</h4>
              <table class="col-md-4 col-md-offset-3">
                <thead>
                <tr>
                  <th>{{"ANSWER6_TH1" | translate}}</th>
                  <th>{{"ANSWER6_TH2" | translate}}</th>
                </tr>
                </thead>
                <tr>
                  <td>Alberto</td>
                  <td>300</td>
                </tr>
                <tr>
                  <td>Boris</td>
                  <td>300</td>
                </tr>
                <tr>
                  <td>Claudio</td>
                  <td>250</td>
                </tr>
              </table>
              <br> <br> <br> <br> <br>
              {{"ANSWER6_PART2" | translate}} <br>
              <h4>{{"ANSWER6_EXAMPLE" | translate}}2:</h4>
              <table class="col-md-4 col-md-offset-3">
                <thead>
                <tr>
                  <th>{{"ANSWER6_TH1" | translate}}</th>
                  <th>{{"ANSWER6_TH2" | translate}}</th>
                </tr>
                </thead>
                <tr>
                  <td>Alberto</td>
                  <td>300</td>
                </tr>
                <tr>
                  <td>Boris</td>
                  <td>250</td>
                </tr>
                <tr>
                  <td>Claudio</td>
                  <td>250</td>
                </tr>
              </table>
              <br> <br> <br> <br> <br>
              {{"ANSWER6_PART3" | translate}} <br>
              <h4>{{"ANSWER6_EXAMPLE" | translate}}3:</h4>
              <table class="col-md-4 col-md-offset-3">
                <thead>
                <tr>
                  <th>{{"ANSWER6_TH1" | translate}}</th>
                  <th>{{"ANSWER6_TH2" | translate}}</th>
                </tr>
                </thead>
                <tr>
                  <td>Alberto</td>
                  <td>200</td>
                </tr>
                <tr>
                  <td>Boris</td>
                  <td>200</td>
                </tr>
                <tr>
                  <td>Claudio</td>
                  <td>200</td>
                </tr>
                <tr>
                  <td>Daniel</td>
                  <td>200</td>
                </tr>
              </table>
              <br> <br> <br> <br> <br> <br>
              {{"ANSWER6_PART4" | translate}}
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              {{"QUESTION7" | translate}}
            </h4>
          </div>
          <div>
            <div class="panel-body">
              {{"ANSWER7" | translate}}
              <a href="https://github.com/fariasfrancisco/copa-america-2016">Copa America 2016</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container login-signup">
  <div class="row" id="loginregister">
    <div class="col-md-6 col-md-offset-3">
      <uib-tabset active="activeJustified" justified="true">
        <uib-tab index="0" heading="{{'LOGIN' | translate}}">
          <div login></div>
        </uib-tab>
        <uib-tab index="1" heading="{{'REGISTER' | translate}}">
          <div signup></div>
        </uib-tab>
      </uib-tabset>
    </div>
  </div>
</div>


<div class="container translate">
  <div class="row">
    <div class="col-md-2 col-md-push-4">
      <a href="#" class="button" ng-click="$ctrl.toggleLanguage('es')">{{'SPANISH' | translate}}</a>
    </div>
    <div class="col-md-2 col-md-push-4">
      <a href="#" class="button" ng-click="$ctrl.toggleLanguage('en')">{{'ENGLISH' | translate}}</a>
    </div>
  </div>
</div>
