<header class="hero-unit" id="banner">
  <div class="container">
    <img height="325" width="326" src="assets/images/copalogo.png" alt="Copa America Banner">
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div ng-show="$ctrl.mainSvc.getShowLoginForm()" login></div>
      <div ng-show="$ctrl.mainSvc.getShowSignUpForm()" signup></div>
      <div ng-show="$ctrl.mainSvc.getShowButton()" class="page-header">
        <a href="#" class="button" ng-click="$ctrl.toggleLoginForm()">Make a Bet!</a>
      </div>
      <div ng-show="$ctrl.mainSvc.getShowTables()" class="page-header row col-md-6 col-md-offset-2 custyle table-format"
           ng-repeat="group in $ctrl.groups">
        <table class="table table-striped custab">
          <caption>{{group.fullName}}</caption>
          <thead>
          <tr>
            <th>Team</th>
            <th class="table-cell">Pts</th>
            <th class="table-cell">GF</th>
            <th class="table-cell">GA</th>
            <th class="table-cell">GD</th>
          </tr>
          </thead>
          <tr ng-repeat="line in group.table">
            <td>{{line.team}}</td>
            <td class="table-cell">{{line.points}}</td>
            <td class="table-cell">{{line.goalsFor}}</td>
            <td class="table-cell">{{line.goalsAgainst}}</td>
            <td class="table-cell">{{line.goalDifference}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
