/**
 * Group Table
 */

.custab {
  border: 1px solid #ccc;
  padding: 5px;
  margin: 5% 0;
  box-shadow: 3px 3px 2px #ccc;
  transition: 0.5s;
}

.custab:hover {
  box-shadow: 3px 3px 0px transparent;
  transition: 0.5s;
}

.table-format {
  width: 34%;
  margin: 0px 8% 0px;
}

caption.ng-binding {
  font-family: Arial, sans-serif;
  font-size: large;
  font-weight: bolder;
  padding-bottom: 10px;
}

.table-cell {
  text-align: center;
}

.team-img{
  margin-right: 5px;
}