<div class="container">
  <div class="row">
    <div class="page-header row col-md-6 col-md-offset-2 custyle table-format"
         ng-repeat="group in $ctrl.querySvc.getGroups()">
      <table class="table table-striped custab">
        <caption>{{group.fullName}}</caption>
        <thead>
        <tr>
          <th class="table-cell">Team</th>
          <th class="table-cell">Pts</th>
          <th class="table-cell">GF</th>
          <th class="table-cell">GA</th>
          <th class="table-cell">GD</th>
        </tr>
        </thead>
        <tr ng-repeat="line in group.table">
          <td>
            <img class="team-img" height="30" width="30" ng-src="assets/images/team_logos/{{line.team}}.png">
            {{line.teamName}}
          </td>
          <td class="table-cell">{{line.points}}</td>
          <td class="table-cell">{{line.goalsFor}}</td>
          <td class="table-cell">{{line.goalsAgainst}}</td>
          <td class="table-cell">{{line.goalDifference}}</td>
        </tr>
      </table>
    </div>
    <!--
         TODO rest of the tournament table logic, preferably with a playoff style
         check out these two fiddles:
         http://jsfiddle.net/fncxsezn/
         http://jsfiddle.net/4KZ6T/
    -->
  </div>
  <div class="row">
    <div class="c1">
      <div class="team">
        {{$ctrl.groups['GA'].first.teamName || 'GA-1'}}
        <img class="team-img" height="30" width="30"
             ng-src="assets/images/team_logos/{{$ctrl.groups['GA'].first.team || 'q'}}.png">
        <span ng-show="$ctrl.Q1">{{'- ' + $ctrl.Q1.home.goals}}</span>
      </div>
      <div class="team">
        {{$ctrl.groups['GB'].second.teamName || 'GB-2'}}
        <img class="team-img" height="30" width="30"
             ng-src="assets/images/team_logos/{{$ctrl.groups['GB'].second.team || 'q'}}.png">
        <span ng-show="$ctrl.Q1">{{'- ' + $ctrl.Q1.away.goals}}</span>
      </div>
      <div class="team">
        {{$ctrl.groups['GD'].first.teamName || 'GD-1'}}
        <img class="team-img" height="30" width="30"
             ng-src="assets/images/team_logos/{{$ctrl.groups['GD'].first.team || 'q'}}.png">
        <span ng-show="$ctrl.Q2">{{'- ' + $ctrl.Q2.home.goals}}</span>
      </div>
      <div class="team">
        {{$ctrl.groups['GC'].second.teamName || 'GC-2'}}
        <img class="team-img" height="30" width="30"
             ng-src="assets/images/team_logos/{{$ctrl.groups['GC'].second.team || 'q'}}.png">
        <span ng-show="$ctrl.Q2">{{'- ' + $ctrl.Q2.away.goals}}</span>
      </div>
      <div class="team">
        {{$ctrl.groups['GB'].first.teamName || 'GB-1'}}
        <img class="team-img" height="30" width="30"
             ng-src="assets/images/team_logos/{{$ctrl.groups['GB'].first.team || 'q'}}.png">
        <span ng-show="$ctrl.Q3">{{'- ' + $ctrl.Q3.home.goals}}</span>
      </div>
      <div class="team">
        {{$ctrl.groups['GA'].second.teamName || 'GA-2'}}
        <img class="team-img" height="30" width="30"
             ng-src="assets/images/team_logos/{{$ctrl.groups['GA'].second.team || 'q'}}.png">
        <span ng-show="$ctrl.Q3">{{'- ' + $ctrl.Q3.away.goals}}</span>
      </div>
      <div class="team">
        {{$ctrl.groups['GC'].first.teamName || 'GC-1'}}
        <img class="team-img" height="30" width="30"
             ng-src="assets/images/team_logos/{{$ctrl.groups['GC'].first.team || 'q'}}.png">
        <span ng-show="$ctrl.Q4">{{'- ' + $ctrl.Q4.home.goals}}</span>
      </div>
      <div class="team">
        {{$ctrl.groups['GD'].second.teamName || 'GD-2'}}
        <img class="team-img" height="30" width="30"
             ng-src="assets/images/team_logos/{{$ctrl.groups['GD'].second.team || 'q'}}.png">
        <span ng-show="$ctrl.Q4">{{'- ' + $ctrl.Q4.away.goals}}</span>
      </div>
    </div>

    <div class="c2">
      <div class="block first">
        {{$ctrl.Q1.winner.teamName || ''}}
        <img class="team-img" height="30" width="30" ng-src="assets/images/team_logos/{{$ctrl.Q1.winner.team}}.png"
             alt="">
        <span ng-show="$ctrl.S1">{{'- ' + $ctrl.S1.home.goals}}</span>
      </div>
      <div class="block">
        {{$ctrl.Q2.winner.teamName || ''}}
        <img class="team-img" height="30" width="30" ng-src="assets/images/team_logos/{{$ctrl.Q2.winner.team}}.png"
             alt="">
        <span ng-show="$ctrl.S1">{{'- ' + $ctrl.S1.away.goals}}</span>
      </div>
      <div class="block">
        {{$ctrl.Q3.winner.teamName || ''}}
        <img class="team-img" height="30" width="30" ng-src="assets/images/team_logos/{{$ctrl.Q3.winner.team}}.png"
             alt="">
        <span ng-show="$ctrl.S2">{{'- ' + $ctrl.S2.home.goals}}</span>
      </div>
      <div class="block">
        {{$ctrl.Q4.winner.teamName || ''}}
        <img class="team-img" height="30" width="30" ng-src="assets/images/team_logos/{{$ctrl.Q4.winner.team}}.png"
             alt="">
        <span ng-show="$ctrl.S2">{{'- ' + $ctrl.S2.away.goals}}</span>
      </div>
    </div>

    <div class="c3">
      <div class="block">
        {{$ctrl.S1.winner.teamName || ''}}
        <img class="team-img" height="30" width="30" ng-src="assets/images/team_logos/{{$ctrl.S1.winner.team}}.png"
             alt="">
        <span ng-show="$ctrl.F">{{'- ' + $ctrl.F.home.goals}}</span>
      </div>
      <div class="block low">
        {{$ctrl.S2.winner.teamName || ''}}
        <img class="team-img" height="30" width="30" ng-src="assets/images/team_logos/{{$ctrl.S2.winner.team}}.png"
             alt="">
        <span ng-show="$ctrl.F">{{'- ' + $ctrl.F.away.goals}}</span>
      </div>
    </div>

    <div class="c4">
      <div class="block">
        {{$ctrl.F.winner.teamName || ''}}
        <img class="team-img" height="30" width="30" ng-src="assets/images/team_logos/{{$ctrl.F.winner.team}}.png"
             alt="">
      </div>
    </div>

    <div class="c5">
      <div class="block">
      </div>
    </div>

    <div class="cup">
      <img class="team-img" height="116" width="52" ng-src="assets/images/cup.png" alt="">
    </div>
  </div>
</div>