/**
 * Group Table
 */

.custab {
  border: 1px solid #ccc;
  padding: 5px;
  margin: 5% 0;
  box-shadow: 3px 3px 2px #ccc;
  transition: 0.5s;
}

.custab:hover {
  box-shadow: 3px 3px 0px transparent;
  transition: 0.5s;
}

.table-format {
  width: 36%;
  margin: 0px 7% 0px;
}

td.team-name.ng-binding {
  font-size: 1.15em;
}

caption.ng-binding {
  font-family: Arial, sans-serif;
  font-size: large;
  font-weight: bolder;
  padding-bottom: 10px;
}

.table-cell {
  text-align: center;
}

.team-img {
  margin-right: 5px;
}

/**
 * Brackets
 */

.team {
  text-align: right;
  line-height: 40px
}

.c1, .c2, .c3, .c4, .c5 {
  float: left;
  width: 140px
}

.c1 .team {
  width: 100px;
  height: 40px
}

.c2 .block, .c3 .block, .c4 .block {
  margin-top: 40px;
  height: 40px;
  width: 140px;
  border-top: solid 2px #334bf5;
  border-right: solid 2px #334bf5;
  border-bottom: solid 2px #334bf5;
  text-align: right;
  line-height: 40px;
}

.c2 .block.first {
  margin-top: 20px;
}

.c3 .block {
  height: 80px;
  line-height: 80px;
}

.c3 .block.low {
  margin-top: 80px;
}

.c4 .block {
  height: 160px;
  line-height: 160px;
  margin-top: 80px;
}

.c5 .block {
  margin-top: 160px;
  text-align: right;
  border-bottom: solid 2px #334bf5;
}

.cup {
  margin-top: 80px;
}

.graphParent {
  margin-top: 50px;
  text-align: center;
}

.graphChild {
  display: inline-block;
  margin: 0 auto;
}

div.team.ng-binding {
  width: auto;
}

.cup {
  float: left;
  margin-top: 100px;
}
